{{- define "main" }}
{{ print "<!-- ( List ) -->" | safeHTML }}
{{ .Content }}

{{ print "<!-- ( pages: " .RegularPages ", kind: " .Kind ", type: " .Type " ) -->" | safeHTML }}

<div id="results"></div>

<script>
( async function(){

    const pagefind = await import( "/pagefind/pagefind.js" );
    const results = document.getElementById( "results" );

    if( results ) {

        pagefind.init();

        const filters = await pagefind.filters();
        const search = await pagefind.search( null, { filters: { type: "blog" } } );
        const searchResults = await Promise.all( search.results.map( r => r.data() ) );
        
        Array.prototype.forEach.call( searchResults, ( searchResult, i ) => {
            console.log( JSON.parse( searchResult.meta.taxonomy ) );
		});

    }

}() );
</script>

{{- with site.Taxonomies.categories }}
<h2>Categories</h2>
<p>
{{- range . }}
{{ with .Page }}
<a href="{{ .RelPermalink }}">{{ .Name | safeHTML }}</a>, 
{{ end }}
{{- end }}
</p>

<h3>Filter by Cateogry</h3>


{{- end }}

{{- range ( .RegularPages.ByDate ) }}
{{ .Render "item" }}
{{- end }}

{{- end }}