{{- define "main" }}
{{ print "<!-- ( List ) -->" | safeHTML }}
{{ .Content }}

{{ print "<!-- ( pages: " .RegularPages ", kind: " .Kind ", type: " .Type " ) -->" | safeHTML }}

<form id="form">
    <label for="category">Filter by Cateogry</label>
    {{- with site.Taxonomies.categories }}
    <select name="category" id="category">
        <option value="null">All</option>
        {{- range . }}
        {{ with .Page }}
        <option value="{{ .Name | safeHTML }}">{{ .Name | safeHTML }}</option>
        {{ end }}
        {{- end }}
    </select>
    <label for="keyword">Include a keyword (optional):</label>
    <input type="text" id="keyword">
    <button type="button" id="submit">Submit</button>
{{- end }}
</form>
<div id="results"></div>

{{- end }}